[submodule "EvalSelection.vim"]
	path = EvalSelection.vim
	url = git://github.com/vim-scripts/EvalSelection.vim.git
[submodule "vim-jade"]
	path = vim-jade
	url = git://github.com/digitaltoad/vim-jade.git
[submodule "vim-bundler"]
	path = vim-bundler
	url = git://github.com/tpope/vim-bundler.git
[submodule "vim-ruby-refactoring"]
	path = vim-ruby-refactoring
	url = git://github.com/ecomba/vim-ruby-refactoring.git
[submodule "vim-jst"]
	path = vim-jst
	url = git://github.com/briancollins/vim-jst.git
[submodule "vim-fireplace"]
	path = vim-fireplace
	url = git://github.com/tpope/vim-fireplace.git
